/* COLORS */
/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
/* BREAKPOINTS FOR SCREEN SIZES */
button {
  background-color: rgba(255, 255, 255, 0.2);
  height: 2rem;
  width: 6rem;
  border: 2px solid #fff;
  border-radius: 4px;
  font: 14px "DM Sans";
  color: #fff; }
  button:hover, button:active {
    transform: scale(1.05); }
  button:focus {
    background-color: rgba(235, 133, 255, 0.5); }

body {
  display: grid;
  position: relative;
  overflow: auto;
  margin: 0;
  padding: 1rem;
  background-image: linear-gradient(rgba(68, 0, 107, 0.5), rgba(68, 0, 107, 0.5)), url("../images/back-img.jpg");
  background-attachment: fixed;
  background-size: cover;
  font: 16px "DM Sans";
  color: #fff; }

main {
  display: grid; }
  main .city-time {
    margin-top: 2rem; }
    main .city-time * {
      margin: 0;
      font-size: 20px; }
    main .city-time :first-child {
      margin-bottom: 0.5rem;
      font-size: 26px; }
  main .weather {
    display: grid;
    margin-top: 1.5rem; }
    main .weather .curr-weather {
      display: grid;
      grid-template-rows: 70% 30%;
      height: 30vh;
      padding: 0 1rem 1rem 1rem;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 8px; }
      main .weather .curr-weather .top-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 1fr;
        grid-gap: 0.3rem;
        justify-items: start;
        align-items: stretch; }
        main .weather .curr-weather .top-div * {
          margin: 0 0.5rem 0 0; }
        main .weather .curr-weather .top-div img {
          align-self: start; }
        main .weather .curr-weather .top-div p:first-of-type {
          align-self: end;
          font-size: 34px; }
      main .weather .curr-weather .bottom-div {
        display: grid; }
        main .weather .curr-weather .bottom-div * {
          margin: 0; }
    main .weather .hourly-weather {
      display: grid; }
      main .weather .hourly-weather > div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1.2fr 1fr 1fr;
        align-items: center;
        height: 18vh;
        margin: 1.5rem 0 1rem 0;
        padding: 0.8rem;
        border: 1px solid #fff;
        border-radius: 8px; }
        main .weather .hourly-weather > div * {
          margin: 0;
          font-size: 20px; }
        main .weather .hourly-weather > div img {
          height: 40px; }
        main .weather .hourly-weather > div :first-child {
          grid-column: 1/5;
          font-size: 26px; }
        main .weather .hourly-weather > div :last-child {
          grid-column: 1/5;
          font-size: 16px; }
    main .weather .daily-weather {
      display: grid; }
    main .weather .switch-view {
      margin: 1rem 0 0 2px;
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-gap: 1rem; }
