
body {
    position:relative;
    overflow:auto;

    margin: 0;

    // night mode
    background-image: linear-gradient(transparentize($ripe-plum, 0.5), transparentize($ripe-plum, 0.5)),url("../images/back-img.jpg");
    // day mode
    //background-image: linear-gradient(transparentize($orient, 0.4), transparentize($orient, 0.4)),url("../images/back-img.jpg");

    background-attachment: fixed;
    background-size: cover;

    font: 16px $dm-sans;
    color: #fff;

    header {
        font-weight: $bold;
        margin: 1.5rem 1rem 0 1rem;
    }
    
    main {
        display: grid;
        margin: 1rem;
    }
}




