
body {
    display: grid;

    position:relative;
    overflow:auto;

    margin: 0;
    padding: 1rem;

    // night mode
    background-image: linear-gradient(transparentize($ripe-plum, 0.5), transparentize($ripe-plum, 0.5)),url("../images/back-img.jpg");
    // day mode
    //background-image: linear-gradient(transparentize($orient, 0.4), transparentize($orient, 0.4)),url("../images/back-img.jpg");

    background-attachment: fixed;
    background-size: cover;

    font: 16px $dm-sans;
    color: #fff;
}

main {
    display: grid;

    // SECTION THAT DISPLAYS CITY AND DATE
    .city-time {
        margin-top: 2rem;

        // all elements
        * {
            margin: 0;
            font-size: 20px;
        }
        // city name
        :first-child {
            margin-bottom: 0.5rem;
            font-size: 26px;
        }
    }
    // SECTION THAT DISPLAYS WEATHER
    .weather {
        display: grid;

        .curr-weather {
            display: grid;
            grid-template-rows: 70% 30%;
            //grid-gap: 1rem;

            height: 36vh;

            .top-div {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 100px 1fr;
                //grid-template-rows: 1fr 0.1fr;
                grid-gap: 0.3rem;
                justify-items: start;
                align-items: stretch;

                // all items
                * {
                    margin: 0 0.5rem 0 0;
                    //padding-right: 0.5rem;
                }
                // weather icon
                img {
                    align-self: start;
                    margin-top: 20px;
                }

                // temperature
                p:first-of-type {
                    align-self: end;
                    font-size: 34px;
                }
            }

            .bottom-div {
                display: grid;
                //margin-top: 1rem;
                * {
                    margin: 0;
                }
                //grid-template-columns: 1fr;
                //grid-template-rows: 1fr;
            }
        }

        .hourly-weather {
            display: grid;
        }

        .daily-weather {
            display: grid;
        }
    }
}



